.App {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0f7fa;
  margin: 0;
}

.weather-app {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.weather-app h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #007BFF;
}

.weather-app input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 24px);
  margin-bottom: 20px;
  font-size: 16px;
}

.weather-app button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.weather-app button:hover {
  background-color: #0056b3;
}

.weather-info {
  margin-top: 20px;
  text-align: left;
}

.weather-info div {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.weather-info strong {
  color: #007BFF;
}
